from_scratch/__pycache__
from_scratch/lib
into_datascience/__pycache__
into_datascience/best_gender_classifier/lib
into_datascience/twitter_sentiment_analysis/lib
into_datascience/recommendation_systems/lib
into_datascience/stock_price_prediction/lib
into_datascience/deep_dream_generator/lib
into_datascience/genetic_programming/lib
into_datascience/emnist/hashy
supervised/__pycache__
supervised/best_gender_classifier/lib
supervised/twitter_sentiment_analysis/lib
supervised/recommendation_systems/lib
supervised/stock_price_prediction/lib
supervised/deep_dream_generator/lib
supervised/deep_dream_generator/data
supervised/genetic_programming/lib
supervised/emnist/hashy
datamining/orthonearme/node_modules

.vscode/
Pokemon_GAN/